* {
    margin: 0;
    padding: 0;
}

body {
    width: 90%;
    margin-left: 5%;
}

/* Header Start Here  */
/* Header Start Here  */
/* Header Start Here  */

.header {
    background-color: rgb(241, 230, 215);
    height: 150px;
    padding: 30px;
    text-align: center;
}

.header h2 {
    margin-bottom: 20px;
}
.header p {
    width: 70%;
    margin-left: 15%;
}

/* First Part Start Here  */
/* First Part Start Here  */
/* First Part Start Here  */

.first {
    background-color: rgba(48, 157, 185, 0.804);
    height: 200px;
    padding: 30px;
    text-align: center;
}

.first h2 {
    margin-bottom: 15px;
}
.first p {
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
}

.first h4 {
    margin-bottom: 10px;
    text-align: left;
}

.first audio {
    float: left;
    height: 30px;
    width: 40%;
}

/* First - Sub Part Start here  */
/* First - Sub Part Start here  */
/* First - Sub Part Start here  */


.first-sub {
    background-color: rgb(153, 232, 183);
    padding: 30px;
    text-align: center;
}

.first-sub h2 {
    margin-bottom: 15px;
}
.first-sub p {
    margin-bottom: 15px;
    width: 70%;
    margin-left: 15%;
}

.first-sub h4 {
    margin-bottom: 10px;
    text-align: left;
}


/* second section start here  */
/* second section start here  */
/* second section start here  */
.second {
    background-color: rgb(104, 250, 255);
    padding: 30px;
    text-align: center;

}
.second h2 {
    margin-bottom: 15px;
}

.second table {
    padding: 10px;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.second tr td {
    padding: 10px;
    border: 1px solid black;
}

.second tr td:hover {
    background-color: rgb(1, 15, 17);
    color: rgb(255, 255, 255);

}
.second th {
    border: 2px solid black;
    padding: 10px;
}


/* form Here  */
/* form Here  */
/* form Here  */

.form {
    background-color: dodgerblue;
    padding: 30px;
    width: 60%;
    margin-left: 20%;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgb(79, 51, 10);
}
.form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
    font-size: 16px;
    color: rgb(0, 0, 0);
}

.form input {
    padding: 5px;
    border-radius: 5px;
    color: black;
    border: none;

}

.form fieldset {
    padding: 10px;
    border: 2px solid rgb(50, 48, 48);
    margin-bottom: 10px;
    
}
.form fieldset label {
    display: block;
    font-size: 16px;
}


/* Final Part Start Here  */

.final {
    background-color: bisque;
    padding: 30px;
    
}

.art {
    margin-bottom: 20px;
}

.art p {
    width: 60%;
    margin-top: 15px;
    text-align: left;
    display: block;
    margin-bottom: 15px;
}

.art a {
    text-decoration: none;
    background-color: rgb(15, 94, 94);
    padding: 8px 18px;
    color: whitesmoke;
    border-radius: 6px;
}

.art a:hover {
    background-color: darkblue;
}